/* CSS file for the welcome page */
body {
  background-image: url("https://farm2.staticflickr.com/1796/28842628257_edb3dfe34b_b.jpg");
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

a {
  font-family: 'Coming Soon', cursive;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 120px;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 100px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.button {
  display: block;
  width: 410px;
  height: 140px;
  text-align: center;
  border-radius: 5px;
  border-color: white;
  color: black;
  font-weight: bold;
  margin: auto;
  color: black;
  background-color: #B6EBFF;
  box-shadow: 0 0 0 4px #fff;
}

#buttons {
  margin-left: 250px;
  margin-right: 250px;
}

#leftbutton {
  float: left;
}

#rightbutton {
  float: right;
}

#loginlink {
  margin-top: 200px;
  text-align: center; 
}
