<head>
  <title> EmailList </title>
  <link rel ='stylesheet' href='css/emaillist.css'/>
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Covered+By+Your+Grace|Dosis|Nunito|Permanent+Marker|Quicksand|Rock+Salt" rel="stylesheet">

<style>
body {
  background-image: url("https://farm2.staticflickr.com/1796/28842628257_edb3dfe34b_b.jpg");
  font-family: 'Coming Soon', cursive;
}
</style>

</head>
<body>
  <table id='emaillist' style='width: 100%'>
    <tr>
      <th> Name: </th>
      <th> City: </th>
      <th> Email: </th>
    </tr>
    {% for Profil in Profile %}
      <tr>
        <td style='text-align: center; vertical-align: middle;'>{{Profil.last_name + ', ' + Profil.first_name}}</td>
        <td style='text-align: center; vertical-align: middle;'>{{Profil.city}}</td>
        <td style='text-align: center; vertical-align: middle;'>{{Profil.state}}</td>
  </td>
      </tr>
    {% endfor %}
  </table>
