<!DOCTYPE html>

 <html>
 <head>
   <title>Post a new event</title>

   <!-- stylesheets in static-->
   <link href="/static/style.css" rel="stylesheet" />
   <link href="/static/form.css" rel="stylesheet" />

   <!-- Google Fonts-->
   <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Covered+By+Your+Grace|Dosis|Nunito|Permanent+Marker|Quicksand|Rock+Salt" rel="stylesheet">

 </head>
 <body>
   <h1>New Activity</h1>
   <h2>Fill out this form completely to add advertise your activity/event.</h2>

   <form name="new-event" method = "post" action = "/confirm">

     <div class="container">

       <label class="question-desciption"> Name of Event: </label><br>
       <input type = "text" id= "event-name" name = "name" required></br>

       <label class="question-desciption"> Description of Event: </label><br>
       <input type = "text" id= "event-description" name = "description" required></br>

    </div>

     <label class="question-desciption"> Type of Event: </label><br>
     <input type = "text" id= "event-type" name = "type" required></br>

     <label class="question-desciption"> Date of Event: </label><br>
     <input type = "text" id= "event-date" name = "date" required></br>

     <label class="question-desciption"> Start Time of Event:</label><br>
     <input type = "text" id= "event-begin" name = "time_start" required></br>

     <label class="question-desciption"> End Time of Event: </label><br>
     <input type = "text" id= "event-end" name = "time_end" required></br>

     <label class="question-desciption"> Address of Event: </label><br>
     <input type = "text" id= "event-address" name = "address" required> </br>

     <label class="question-desciption"> Number of People Needed: </label><br>
     <input type = "number" id= "population-count" name = "people_needed" required pattern=[1-50]> </br>

     <br/><input type = "submit" value="Submit" id= "submit-button" onclick="validateForm()">

   </form>

     <script>

      function validateForm() {
        let fields = ['name', 'description', 'type', 'date', 'time_start', 'time_end', 'address', 'people_needed'];
        let length = fields.length;
        let fieldname;

        for (i=0; i<length; i++) {
          fieldname = fields[i];
          if (document.forms['new-event'][fieldname].value === "") {
            alert(fieldname + " can not be empty.")
            return false;
          }
        }
        return true;
      };

     </script>

 </body>
</html>
