<!DOCTYPE html>

 <html>
 <head>
   <title> Welcome to Event Forms </title>
 </head>
 <body>
   <form method = "post" action = "/form">
     Name of Event: <br>
     <input type = "text" id= "event-name" name = "nameofevent"> </br>
     Description of Event: <br>
     <input type = "text" id= "event-description" name = "descriptionofevent"> </br>
     Type of Event: <br>
     <input type = "text" id= "event-type" name = "typeofevent"> </br>
     Date of Event: <br>
     <input type = "text" id= "event-date" name = "dateofevent"> </br>
     Start Time of Event: <br>
     <input type = "text" id= "event-begin" name = "starttimeofevent"> </br>
     End Time of Event: <br>
     <input type = "text" id= "event-end" name = "endtimeofevent"> </br>
     Address of Event: <br>
     <input type = "text" id= "event-address" name = "addressofevent"> </br>
     Number of People Needed: <br>
     <input type = "text" id= "population-count" name = "numberofpeopleneeded"> </br>

     <button type = "button" id= "submit-button"> Submit event form </button>
 </body>
