<!DOCTYPE html>

 <html>
 <head>
   <title>Find Events!</title>
   <link href="/static/newsfeed.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Covered+By+Your+Grace|Dosis|Nunito|Permanent+Marker|Quicksand|Rock+Salt" rel="stylesheet">
 </head>

 <body>

<!-- Filter Navigation Menu -->
   <div class="sidenav">
     <h1>Filter Results</h1>
   </div>

<!-- title of page -->

<div id="news-feed" style="height: 300px">
</div>

<!-- Newsfeed Posts -->
   <div id="news-feed" style="height: 300px">
   </div>

<!-- Populate newsfeed script -->
   <script src="scripts/newsfeed.js"> </script>

 </body>
</html>
