
<!DOCTYPE HTML>
<html>
<head>
  <title>Welcome Page</title>
  <link href="/static/welcome.css" rel="stylesheet" />
  <center> <img src='https://farm2.staticflickr.com/1798/28830419257_956254022e_h.jpg' alt="Logo" width="310" height="230"> </center>
  <link href='https://fonts.googleapis.com/css?family=Rock Salt' rel="stylesheet"/>


  <style>
  body {
    font-family: 'Rock Salt';
    font-size: 33px;
  }

  </style>

<body>
  <h1 id="title"> <center> Flock </center> </h1>
  <!--Buttons-->
    <a href="/newsfeed" id="newsfeed-button" class="button">Find activies near you </a>
    <br />
    <a href="/form" id="form-button" class="button">Host an activity</a>

</body>
</html>
